$margin: 70px;

.app-description {
  margin-top: $margin;
  margin-bottom: $margin;
}

.website-url {
  margin-bottom: $margin;
}

.project-block {
  padding: 15px;
  margin-bottom: 30px;
}

.online {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: #66bb6a;
  border-radius: 100%;
}

.offline {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: #ef5350;
  border-radius: 100%;
}